html {
  font-size: 19px;
}

body, h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-item, .view-all a, .dropdown a span {
  font-family: "Iowan Old Style", "Palatino", 'Palatino Linotype', 'Book Antiqua', 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}

h1, h2, h3 {
  font-family: "Iowan Old Style", "Neris", "Palatino", 'Palatino Linotype', 'Book Antiqua', 'Heiti SC', 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', sans-serif;
  font-weight: bolder;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
h4, h5, h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

table td, .dataframe {
  font-size: 0.6rem;
}

a {
  font-size: 0.95rem;
}

ul li,
ol li {
  font-family: "Iowan Old Style", "Palatino", 'Palatino Linotype', 'Book Antiqua', 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0.8rem;
}

.card .card-text {
  font-size: 19px !important;
}

.home-section {
  padding: 60px 0 60px 0;
}

.home-section p {
  font-size: 0.9rem;
}

.col-lg-4 {
  width: 29%;
}

.col-lg-8 {
  width: 71%;
}

.col-lg-12 {
  max-width: 100%;
}

.portrait-title {
  font-size: 0.8rem;
}

.universal-wrapper {
  padding-top: 20px;
}

.universal-wrapper h1 {
  padding-bottom: 20px;
  font-weight: bolder;
}

.universal-wrapper div h2 a {
  font-size: 1.3rem;
}

.col-md-12 h1 {
  padding-bottom: 20px;
}

.col-md-12 p {
  margin-left: 10px;
  font-size: 0.9rem;
}

.article-container {
  max-width: 900px;
  padding: 1rem 20px 0 20px;
  margin: 0 auto 0 auto;
}

.article-categories a, .article-tags a{
  font-size: 0.8rem;
}

.article-style a {
  font-size: 0.8rem;
}

.article-style p {
  font-size: 0.9rem;
}

.article-style li {
  font-size: 0.9rem;
}

.article-style p img {
  width: 66%;
  text-align: left;
}

.article-title a {
  font-size: 1.3rem;
}

.nav-item a span{
  font-size: 0.85rem;
}

.dropdown a span{
  font-size: 1.0rem;
}

.dropdown .open {
  display: none;
}

li.dropdown {
  display: none;
}

ul.ul-interests li {
  font-size: 0.8rem;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.degree {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.85rem;
  color: rgba(0,0,0,0.8);
}

ul.ul-edu li .description p.research {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}

.pager .next>a,
.pager .previous>a {
  font-size: 0.8rem;
}

code {
  font-family: "Monaco", "Menlo", "Courier New", "Lucida Console", 'STKaiti', 'KaiTi', 'SimKai', monospace;
  line-height: 1.9;
  font-size: 0.8rem;
}

.portrait {
   transition: transform 0.6s;
}

.portrait:hover {
  transform: scale(1.1);
}

.card-desription a {
  font-size: 0.75rem;
}

.hero-title {
  line-height: 1.6;
  margin-top: 30px;
}
